body {
  background-color: #f9f5ed;
  font-family: 'Spartan';
  color: #2c2821;
  line-height: 1.8;
}

h1 {
font-size: 48px;
}

h2 {
font-size: 24px;
}

h3 {
font-size: 18px;
}

h4 {
font-size: 14px;
}

h5 {
font-size: 12px;
}

h6 {
font-size: 10px;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #739fa6;
}

a:hover {
  text-decoration: underline;
  color:#9D8189;
}

a:active {
  color: #9D8189;
}

.little-link {
  font-size: 12px;
}

ul {
list-style-type: none;
}

hr {
color: #e3d0a8;
width: 200px;
margin-top: 40px;
margin-bottom: 40px;
}

button {
display: block;
background-color: #9D8189;
color: #2d2921;
font-size: 20px;
text-align: center;
margin: auto;
padding: 15px 20px;
border: 1px solid #9D8189;
border-radius: 8px;
}

button a {
color: #e3d0a8;
padding: 15px 20px;
}

button:hover {
background-color: #739fa6;
border-color: #739fa6;
text-decoration: none;
}

button a:hover {
color: #e3d0a8;
text-decoration: none;
}

.title {
  text-align: center;
  font-size: 48px;
  padding-top: 100px;
}

.subtitle {
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}

#home-title {
  text-align: center;
  font-size: 48px;
  padding-top: 148px;
  line-height: 0;
}

#list {
  padding-top: 50px;
}

#blog-list article{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 80%;
  border: 1px solid #e3d0a8;
  border-radius: 12px;
  padding: 20px;
}

#blog-list article:hover {
  background-color:#739fa6;
  border: 1px solid #739fa6;
  border-radius: 12px;
}

#blog-list a {
  text-decoration: none;
  color:#739fa6;
}

#blog-list a:hover {
  color:#2c2821
}

@-ms-viewport {
width: device-width;
}

@media all and (max-width: 700px) { 

#title {
font-size: 32px;
}

#subtitle {
font-size: 20px;
}

}