main {
margin: auto;
width: 90%;
}

section {
display: block;
max-width: 900px;
margin: auto;
}

.fa-quote-left {
display: inline;
float: left;
color: #e3d0a8;
font-size: 18px;
padding-right: 20px;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
