<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
    </head>
    <body>

    {{ if not (in (.Site.BaseURL | string) "localhost") }}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVS5CPC"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ end }}

        <header id="header">
            {{- partial "header.html" . -}}
        </header>

        <div>
            {{- partial "header-mobile.html" . -}}
        </div>
        
        <div id="content">{{- block "main" . }}{{ -end }}</div>

        <footer>
            {{- partial "footer.html" . -}}
        </footer>
    </body>
</html>
