{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "header-mobile.html" . }}

<body
  lang="{{ .Site.LanguageCode }}"
  itemscope
  itemtype="http://schema.org/Article"
>

{{ if not (in (.Site.BaseURL | string) "localhost") }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVS5CPC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}

  <section id="main">

    <article itemprop="articleBody" id="content">
      {{ .Content }}
    </article>
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
