    <!-- Mobile Top Navigation Menu -->
  <div class="topnav">
    <a href="/"><img src="/img/eve_logo.png" id="logo"></a>
    <nav id="nav-bar">
  </a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
            <!-- pages -->
            <!-- prettier-ignore -->
            {{ range .Site.Params.menu }}
            <li>
                <a href="{{ .url | absLangURL }}" class="nav-link">{{ .name }}</a>
            </li>
            <!-- prettier-ignore -->
            {{ end }}
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="hamburger" onclick="hamburgerMenu()">
      <i class="fa fa-bars"></i>
    </a>
  </div>