{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    
    <img class="hero-img" src="/author-mugshot.jpg">

    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>

    {{ partial "social-icons.html" .}}

    <p class="home-links" style="text-align: center; color: #9b9b9b; padding-top: 100px;">
      <a href="author">my books</a> / <a href="editor">editing services</a> / <a href="blog/about-me/">about me</a>
    </p>

  </div>
</div>

{{ end }}
